<div class="login-container">
    <div class="login-content">
      <div class="login-content_header">
        <h2>Create account</h2>
      </div>
      <div>
        <form class="login-form">
          <input type="email" placeholder="email">
          <input type="password" placeholder="password">
          <input type="submit">
        </form>
        <div class="login-netoworks">
          <span>or sign up with</span>
        </div>
        <p>By creating an account you agree to Land Scape's <strong>Terms of Services</strong> and <strong>Privary Policy.</strong></p>
      </div>
    </div>
    <div class="login-footer"></div>
  </div>