<div class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <!-- Move the card inside the column -->
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4.5">
            <h2 class="text-uppercase text-center mb-5">Book Patients Appointment</h2>

            <form>

              <div class="form-outline mb-4">
                <input type="text" id="form3Example1cg" class="form-control form-control-lg"
                  placeholder="Patient Name" [(ngModel)] = "patientobj.firsName" name="firsName"/>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="form3Example3cg" class="form-control form-control-lg"
                  placeholder="Patient Email" [(ngModel)] = "patientobj.emailId" name="emailId"/>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="form3Example4cg" class="form-control form-control-lg" 
                  placeholder="Date" [(ngModel)] = "patientobj.date" name="date"/>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="form3Example4cg" class="form-control form-control-lg" 
                  placeholder="City" [(ngModel)] = "patientobj.city" name="city" />
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="form3Example4cg" class="form-control form-control-lg"
                  placeholder="Mobile Number" [(ngModel)] = "patientobj.mobileNumber" name="mobileNumber" />
              </div>

              <!-- <div class="form-check d-flex justify-content-center mb-5">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                <label class="form-check-label" for="form2Example3g">
                  I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                </label>
              </div> -->

              <div class="d-flex justify-content-center">
                <button type="button"
                  class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>